<title>Clean Blog</title>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10">
          <% @articles.each do |article| %>
            <% if article.published? %>

                  <div class="post-preview">
                      <div class="media">
                          <%= image_tag article.image.url(:thumb), class: 'media-object pull-left'%>
                        <h2 class="post-title">
                                <%= link_to article.title, article_path(article) %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= article.sub_title %>
                        </h3>
                        <p class="post-meta">Posted by ShadowMunkey</a> on <%= article.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      </div>
                  </div>
              <hr>
              <% end %>
          <% end %>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">



            <!-- Blog Categories Well -->
            <div class="well">
                <h4 id="flip">Click Here for Video</h4>
                <div class="row">
                  <div id="player">

                    <div id="video-containger">
                      <%= video_tag("220.mp4", id: 'video')  %>
                    </div>

                    <div id="pbar-container">
                      <div id="pbar">

                      </div>
                    </div>

                    <div id="buttons-container">
                      <i class="fa fa-play-circle"></i>
                      <div id="time-field">
                        0:00 / 0:00
                      </div>
                      <i class="fa fa-volume-up" aria-hidden="true"></i>
                      <div id="sbar-container">
                        <div id="sbar"></div>
                      </div>
                      <i class="fa fa-expand" aria-hidden="true"></i>
                    </div>


                  </div>
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
              <h4>Social Media</h4>
              <a class="twitter-timeline" data-width="400" data-height="300" href="https://twitter.com/VSNgaming">Tweets by VSNgaming</a>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>
    </div>
</div>

<br>
