<% provide(:title, @article.title) %>

<div class="intro-header" style="background-image:
 url('/assets/clean_blog/madden17.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Hope don't win Championships</h1>
          <h2 class="subheading"></h2>
          <span class="meta">Posted by
            <a href="#">Shadowmunkey</a>
            on <%= @article.created_at.strftime("%A, %d %b %Y %l:%M %p") %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<article>
  <div class="container">
    <% if signed_in? && policy(@article).edit? %>
    <%= link_to 'Delete Article', article_path(@article), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this article?'} %>
    <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-default' %>
    <%= link_to 'Articles', articles_path, class: 'btn btn-default' %>
    <% end %>
    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1><%= @article.title %></h1>

        <!-- Author -->
        <p class="lead">
          by ShadowMunkey
        </p>

        <hr>

        <!-- Date/Time -->
        <p>
          <span class="glyphicon glyphicon-time"></span>
          Posted
          <%= @article.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>

        <hr>

        <!-- Preview Image -->
        <%= image_tag @article.image, height: '300', width: '900', class: 'img-responsive' %>
        <hr>

        <!-- Post Content -->
        <p class="lead"><%= @article.sub_title %></p>
        <p><%= @article.body %>

          <hr>

          <!-- Blog Comments -->

          <!-- Comments Form -->
          <div class="well">
            <h4>Leave a Comment:</h4>
              <div class="form-group">
                  <%= render 'comments/form', article: @article, comment: @comment %>
              </div>
          </div>

          <hr>

          Posted Comments
          <% @article.comments.each do |comment| %>
            <div class="media">
              <a class="pull-left" href="#">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= comment.name %>
                  <small><%= comment.created_at %></small>
                </h4>
                  <%= comment.body %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Blog Podcast Well -->
          <div class="well">
            <h4>Podcast</h4>

            <div class="row">
              <% if @article.soundcloud_url != "" %>
                <%= @article.soundcloud_url.to_s.html_safe %>
              <% else %>
              <h5>No Podcast at this time.</h5>
              <% end %>
            </div>
            <!-- /.row -->
          </div>
          <!-- Blog Video Well -->
          <div class="well">
            <h4>Video</h4>
            <div class='row'>
              <% if @article.youtube_url != "" %>
                <%= @article.youtube_url.to_s.html_safe %>
              <% else %>
                No Video at this time
              <% end %>
            </div>
          </div>
          <!-- Side Widget Well -->
          <div class="well">
            <h4>Social Media</h4>
            <a class="twitter-timeline" data-width="400" data-height="300" href="https://twitter.com/VSNgaming">Tweets by VSNgaming</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

        </div>

      </div>
    </article>

    <!-- Post Content -->
    <br>
